@use './variables'as *;
@import '~bootstrap/scss/bootstrap';


.section-dashboard {
    a {
        text-decoration: none;
        color: currentColor;
    }

    .dashboard-card-body {
        display: grid;
        grid-template-columns: repeat(1fr);
        gap: 2rem;
    }

    .card-border {
        border: 1px solid $orange;
        border-radius: 10px;
        background-color: $linen;
        padding: 10px;
    }

    .card-img {
        position: relative;
        border: 1px solid $orange;
        border-radius: 10px;
        overflow: hidden;
        height: 40vh;
        grid-column: 1;

        &::after {
            position: absolute;
            content: '';
            inset: 0;
            mask-image: linear-gradient(to right, transparent 25%, black 70%);
            backdrop-filter: blur(4px);
            background: linear-gradient(to right, transparent 25%, rgba(0, 0, 0, 0.567) 70%);
        }



        .user-detail-card {
            position: absolute;
            right: 0px;
            bottom: 0px;
            border-radius: 10px;
            padding: 10px 10px 0 0;
            display: none;
            align-items: center;
            justify-content: center;
            height: 100%;
            text-align: left;
            color: white;
            z-index: 10;
            // backdrop-filter: blur(10px);
        }

        .buisness-name {
            font-size: 25px;
            text-transform: capitalize;
        }

        .user-detail {
            font-weight: 500;
            font-size: 10px;

        }
    }

    .shop-detail-card {
        border: 1px solid $orange;
        border-radius: 10px;
        background-color: $linen;
        padding: 0.75rem;

    }

    .title-card {
        font-weight: 600;
        margin-bottom: 1.5rem;
    }

    .items-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 0.75rem;
    }

    .item {
        position: relative;
        border-radius: 0.5rem;
        aspect-ratio: 1;
        overflow: hidden;
        transition: $transition;

        &::after {
            content: '';
            opacity: 0;
            position: absolute;
            inset: 0;
            background-color: rgba($color: #000000, $alpha: 0.4);
            filter: blur(4px);
            transition: $transition;
        }

        &:hover::after {
            opacity: 1;
        }

        .name {
            position: absolute;
            width: 100%;
            top: 120%;
            left: 50%;
            padding: 1rem;
            transform: translate(-50%, -50%);
            color: $white;
            font-weight: 600;
            z-index: 10;
            opacity: 0;
            transition: $transition;
        }

        &:hover .name {

            top: 50%;
            opacity: 1;

        }
    }

    .resturant-img {
        width: 100%;
        height: 100%;
        object-fit: cover;

    }

    .item-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: $transition;

    }

    .item:hover img {
        transform: scale(1.1);
    }

    .item-img-blur {
        filter: blur(2px);
    }

    .show-more {
        // position: absolute;
        display: grid;
        place-items: center;

        // font-size: 50px;
        color: rgb(255, 255, 255);
        cursor: pointer;

        .btn {
            display: flex;
align-items: center;
justify-content: center;

            background-color: $orange;
            border: 1px solid $orange;
            height: 100%;
            transition: $transition;

            &:hover {
                background-color: transparent;
                color: $orange;


            }
        }

        .plus-dark {
            color: black;
        }

        // &:hover  {
        //     transition: 0.5s;
        //     height: 100%;
        //     color: $orange;

        //     .plus-dark {
        //         color: $orange;
        //     }
        // }
    }

    .statistic-img {
        width: 100%;
        border-radius: 10px;
    }
}




// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

    .section-dashboard {

        .dashboard-card-body {
            grid-template-columns: repeat(2, 1fr);
        }

        .card-img {
            grid-column: 1/3;

            .user-detail-card {
                position: absolute;
                // top: 10px;
                right: 0px;
                bottom: 0px;
                padding: 10px 10px;
                border-radius: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;
                text-align: right;

            }

            .buisness-name {
                font-size: 3rem;
                font-weight: 600;
            }

            .user-detail {
                font-weight: 500;
                font-size: 18px;

            }
        }
    }
}