$orange: #FC8019;
$orange-hover: rgba(#FC8019, 0.65);
$light-orange: #FC8E32;
$charcoal: #3D4152;
$linen: #FFF2E7;
$silver: #B3B3B3;
$light-silver: #e4e4e4;
$white: #FFFFFF;

$height-header: 70px;

$transition: 0.25s ease-in-out;